menu {
    border: 2px solid !important;
    border-color: #ffffff #808080 #808080 #ffffff !important;
    background: inherit !important;
    font-style: oblique !important;
    font-weight: bold !important;
}

menu:hover {
    border-color: #ffffff #808080 #808080 #ffffff !important;
    background: inherit !important;
}

menu[open] {
    border-color: #808080 #ffffff #ffffff #808080 !important;
    background: inherit !important;
}